<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon.png">
    <title>Mi Portafolio</title>
</head>
<body>

    <header>
        <nav>
            <a href="index">Índice</a>
            <a href="myprojects">Proyectos</a>
            <a href="techs">Tecnologías</a>
            <a href="aboutme">Sobre mi</a>
        </nav>
        <div class="my-links">
            <a href="https://github.com/Gajenjo">
                <img src="https://cdn-icons-png.flaticon.com/512/536/536452.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://www.linkedin.com/in/guillermo-ajenjo-853962210/">
                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://drive.google.com/file/d/1h2hYU8Ys2s_NGgp8aCvS5Hx5HQk7CJiq/view?usp=sharing">
                <img src="https://cdn-icons-png.flaticon.com/512/909/909212.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
        </div>
    </header>

    <div class="aboutme-box">
        <img src="https://i.postimg.cc/RhG3Qqdv/Avatar-Maker.png" alt="">
        <hr style="width: 100%;"> 
        <p style="text-align: justify;"><span>Antes de nada, ¡gracias por llegar hasta aquí! Aunque ahora me dedique a la ciencia de datos, mi formación original es legal. Estudié el doble grado de Derecho y Criminología, pese a que siempre he tenido cierta predilección por el mundo de la tecnología.
            Mientras me prepaba unas oposiciones llegó hasta a mi la oportunidad de entrar en un bootcamp de Ciencia de Datos y dado mi momento vital, acepté la oferta y aquí estoy. Siempre he sido una persona muy curiosa e inquieta y me gusta aprender nuevas cosas,
            y entrar en el mundo de la tecnología ha sido una de las mejores decisiones que he podido tomar.
        </span></p>
        <p style="text-align: justify;"><span >
            Relacionado con el mundo de la ciencia de datos, me gusta participar en competiciones de <a href="https://www.kaggle.com/">Kaggle</a> cuando tengo tiempo e investigar sobre cuestiones relacionadas con redes neuronales y machine learning.
        </span></p>
        <p style="text-align: justify;"><span>
            En cuanto a mis hobbies, soy un auténtico apasionado de la lectura y los videojuegos, llegando al punto de haber intentado hacer un pequeño juego con pygame por simple placer. 
        </span></p>
    </div>

    <script>
        function cambiarSeccion(url) {
            window.location.href = url;
        }
       </script>

</body>
</html>