<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">
    <title>Mi Portafolio</title>
</head>
<body>
    
    <div style="max-width: 80vw; max-height: 80vh; margin: 20vh 20vh 0 20vh; display: grid; grid-template-columns: min-content 1fr;">
        
        <div style="display: grid;">
            <a href="https://github.com/Gajenjo">
                <img src="https://cdn-icons-png.flaticon.com/512/536/536452.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://www.linkedin.com/in/guillermo-ajenjo-853962210/">
                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://drive.google.com/file/d/1h2hYU8Ys2s_NGgp8aCvS5Hx5HQk7CJiq/view?usp=sharing">
                <img src="https://cdn-icons-png.flaticon.com/512/909/909212.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
        </div>
        <img src="https://i.postimg.cc/1tMtDKvb/gajenjonotlight.gif">
    </div>
    <div class="nav2">
        <a href="myprojects">Proyectos</a>
        <a href="techs">Tecnologías</a>
        <a href="aboutme">Sobre mi</a>
    </div>

</body>
</html>