<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">
    <title>Mi Portafolio</title>
</head>
<body>

    <header>
        <nav>
            <a href="index">Índice</a>
            <a href="myprojects">Proyectos</a>
            <a href="techs">Tecnologías</a>
            <a href="aboutme">Sobre mi</a>
        </nav>
        <div class="my-links">
            <a href="https://github.com/Gajenjo">
                <img src="https://cdn-icons-png.flaticon.com/512/536/536452.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://www.linkedin.com/in/guillermo-ajenjo-853962210/">
                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://drive.google.com/file/d/1h2hYU8Ys2s_NGgp8aCvS5Hx5HQk7CJiq/view?usp=drive_link">
                <img src="https://cdn-icons-png.flaticon.com/512/909/909212.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
        </div>
    </header>

    <div class="initial-text">
        <h1>Proyectos</h1>
    </div>
    <div class="box" style="max-width: 50%; max-height: 60%;">
        <div id="EDA" class="clickeable" onclick="cambiarSeccion('EDA')" >
            <div class="contenedor">
                <h2>EDA Project</h2>
                <img src="https://gyazo.com/2821adc3a4502c5ed953bb2e23bc5d6c.png" alt="projects" width="100%" height="100%" style="aspect-ratio: 5/3;">
                <p style="text-align: justify;">Esta sección incluye un EDA (Análisis exploratorio de datos, por sus siglas en inglés) pormenorizado sobre la delincuencia en españa.</p>
            </div>
        </div>
        <div id="ML" class="clickeable" onclick="cambiarSeccion('MLproyect')">
            
            <div class="contenedor">
                <h2>ML Project</h2>
                <img src="https://gyazo.com/44ee80f55d76be60bbb5b6651a935c54.png" alt="projects" width="100%" height="100%" style="aspect-ratio: 5/3;">
                <p style="text-align: justify;">Esta sección incluye una mayor descripción del, por el momento único, proyecto de Machine Learning realizado.</p>
            </div>
        </div>
    </div>
    

    <script>
        function cambiarSeccion(url) {
            window.location.href = url;
        }
       </script>
       
</body>
</html>