<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">
    <title>Mi Portafolio</title>
</head>
<body>

    <header>
        <nav>
            <a href="index">Índice</a>
            <a href="myprojects">Proyectos</a>
            <a href="techs">Tecnologías</a>
            <a href="aboutme">Sobre mi</a>
        </nav>
        <div class="my-links">
            <a href="https://github.com/Gajenjo">
                <img src="https://cdn-icons-png.flaticon.com/512/536/536452.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://www.linkedin.com/in/guillermo-ajenjo-853962210/">
                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
            <a href="https://drive.google.com/file/d/1h2hYU8Ys2s_NGgp8aCvS5Hx5HQk7CJiq/view?usp=sharing">
                <img src="https://cdn-icons-png.flaticon.com/512/909/909212.png" alt="Descripción de la imagen" width="32" height="32">
            </a>
        </div>
    </header>

    <div class="initial-text">
        <h1>Tecnologías</h1>
    </div>

    <div class="box-tech">
        
        <div class="box-tech-techs">
            <div class="mini-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="projects" width="50" height="50">
                <p><b>Python</b></p>
            </div>
            <div class="mini-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Pandas_mark.svg/1200px-Pandas_mark.svg.png" alt="projects" width="50" height="50">
                <p><b>Pandas</b></p>
            </div>
            <div class="mini-box">
                <img src="https://plotly.com/all_static/images/icon-dash.png" alt="projects" width="50" height="50">
                <p><b>Plotly</b></p>
            </div>
            <div class="mini-box">
                <img src="https://static-00.iconduck.com/assets.00/sql-database-sql-azure-icon-1955x2048-4pmty46t.png" alt="projects" width="50" height="50">
                <p><b>SQL</b></p>
            </div>
            <div class="mini-box">
                <img src="https://www.integratecnologia.es/sites/default/files/2560px-amazon_web_services_logo.svg.png?itok=uoEy8WGB" alt="projects" width="50" height="50">
                <p><b>AWS</b></p>
            </div>
            <div class="mini-box">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="projects" width="50" height="50">
                <p><b>Github</b></p>
            </div>
            <div class="mini-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Tensorflow_logo.svg/1915px-Tensorflow_logo.svg.png" alt="projects" width="50" height="50">
                <p><b>TensorFlow</b></p>
            </div>
            <div class="mini-box">
                <img src="https://hutsons-hacks.info/wp-content/uploads/2021/09/ParallelScikitlearn.png" alt="projects" width="50" height="50">
                <p><b>Scikit learn</b></p>
            </div>
            <div class="mini-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Apache_Spark_logo.svg/1280px-Apache_Spark_logo.svg.png" alt="projects" width="50" height="50">
                <p><b>Pyspark</b></p>
            </div>
        </div>
        <hr>
        <div class="contenedor">
            <h2>Ciencia de Datos</h2>
            <p style="font-size: 14px; text-align: justify;">Como científico de datos tengo experiencia en el uso de sus principales herramientas, tales como la programación en python, la transformación de datos con Pandas, su visualización con Plotly y librerías similares como Matplotlib o Seaborn. También tengo experiencia en el uso de Scikitlearn en el ámbito del Machine Learning y Tensorflow y Keras en el apartado de redes neuronales, así como nociones de Pyspark para el manejo de bigdata. Por último también tengo sólidos conocimientos en manejo de bases de datos SQL (Principalmente MySQL) y experiencia con AWS y Github, incluyendo conocimiento sobre gitflow.</p>
        </div>
        
      
        <div class="contenedor">
            <h2>Otras tecnologías</h2>
            <p style="font-size: 14px; text-align: justify;">Como parte de mi interés personal tengo cierta experiencia en el manejo de otras tecnologías no directamente relacionadas con la ciencia de datos pero sí con el mundo tech. Tengo experiencia con Flask para el desarrollo de APIs al igual que para el desarrollo de páginas web junto con HTML y CSS (Este portfolio ha sido realizado utilizando las 3 tecnologías). Aunque menos relacionado, tengo experiencia utilizando la librería de Python streamlit para visualización rápida de páginas web, y con Pygame.</p>
        </div>
        <hr>
        <div class="box-tech-techs">
            <div class="mini-box">
                <img src="https://cdn.icon-icons.com/icons2/2389/PNG/512/flask_logo_icon_145276.png" alt="projects" width="50" height="50">
                <p><b>Flask</b></p>
            </div>
            <div class="mini-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/800px-HTML5_Badge.svg.png" alt="projects" width="50" height="50">
                <p><b>HTML</b></p>
            </div>
            <div class="mini-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png" alt="projects" width="50" height="50">
                <p><b>CSS</b></p>
            </div>
            <div class="mini-box">
                <img src="https://user-images.githubusercontent.com/46412508/170405943-e75458ec-6cb4-462e-91ba-43c861a3d6cf.png" alt="projects" width="50" height="50">
                <p><b>Pygame</b></p>
            </div>
            <div class="mini-box">
                <img src="https://seeklogo.com/images/S/streamlit-logo-1A3B208AE4-seeklogo.com.png" alt="projects" width="50" height="50">
                <p><b>Streamlit</b></p>
            </div>
        </div>
        
    </div>


    <script>
        function cambiarSeccion(url) {
            window.location.href = url;
        }
       </script>

</body>
</html>